*{
    outline: 1px solid red;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#page-body {
    height: 100vh;
}

#top {
    padding: 60px;
}

#center {
    padding-top: 50px;
    padding-bottom: 10px;
}

#bottom {
    padding-top: 20px;
}

.gray-text {
    color: #979797;
}

.blue {
    background-color: #307aab;
}

.light-gray {
    background-color: #eeeff1;
}

.blank-card{
    padding:10px;
}

.card-white {
    background: white;
    padding: 30px;
    box-shadow: 1px 1px 2px #e7e7e7;
    border-radius: 4px;
    margin: 20px 50px;
}